<div *ngFor= "let asigna of asignatura; let i = index" class="row">
     <p> Asignatura <b>{{asigna.asig}}</b>: <b>{{asigna.sigl}}</b> la imparte el Profesor <b>{{asigna.prof}}</b></p>

     <!--<button type="button" (click)="onSelect(asigna)"> Asignatura </button>
     <ul class="asignatura">
          <li>
            <button type="button">
              <span >{{asigna.asig}}</span>
              <span >{{asigna.sigl}}</span>
              <span>{{asigna.prof}}</span>
            </button>
          </li>
     </ul>     Prueba para que salga como si fuera una lista
     <div *ngIf="asigna">
          <h2>{{asigna.asig | uppercase}}</h2>
          <div>{{asigna.asig}}</div>
          <div>
            <label for="hero-name">{{asigna.sigl}} </label>

          </div>
        </div> -->
</div>